<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Bootstraps a Plone 4.0.x environment.</description>
  <logRotator>
    <daysToKeep>7</daysToKeep>
    <numToKeep>15</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>true</keepDependencies>
  <properties>
    <hudson.plugins.disk__usage.DiskUsageProperty/>
    <hudson.plugins.trac.TracProjectProperty>
      <tracWebsite>https://dev.plone.org/plone/</tracWebsite>
    </hudson.plugins.trac.TracProjectProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/buildouts/plone-coredev/branches/4.0</remote>
        <local>build</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/Plone/trunk</remote>
        <local>Plone</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/archetypes/archetypes.kss/trunk</remote>
        <local>archetypes.kss</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/archetypes/MoreFieldsAndWidgets/archetypes.referencebrowserwidget/trunk</remote>
        <local>archetypes.referencebrowserwidget</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/archetypes/archetypes.schemaextender/trunk</remote>
        <local>archetypes.schemaextender</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/borg/components/borg.localrole/trunk</remote>
        <local>borg.localrole</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/collective.monkeypatcher/trunk</remote>
        <local>collective.monkeypatcher</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/five.customerize/trunk</remote>
        <local>five.customerize</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/five.formlib/trunk</remote>
        <local>five.formlib</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/five.localsitemanager/trunk</remote>
        <local>five.localsitemanager</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.browserlayer/trunk</remote>
        <local>plone.browserlayer</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.contentrules/trunk</remote>
        <local>plone.contentrules</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.fieldsets/trunk</remote>
        <local>plone.fieldsets</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.folder/trunk</remote>
        <local>plone.folder</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.i18n/trunk</remote>
        <local>plone.i18n</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.indexer/trunk</remote>
        <local>plone.indexer</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.intelligenttext/trunk</remote>
        <local>plone.intelligenttext</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.keyring/trunk</remote>
        <local>plone.keyring</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.locking/trunk</remote>
        <local>plone.locking</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.memoize/trunk</remote>
        <local>plone.memoize</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.openid/trunk</remote>
        <local>plone.openid</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.portlets/trunk</remote>
        <local>plone.portlets</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.protect/trunk</remote>
        <local>plone.protect</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.reload/trunk</remote>
        <local>plone.reload</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.scale/trunk</remote>
        <local>plone.scale</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.session/trunk</remote>
        <local>plone.session</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.stringinterp/trunk</remote>
        <local>plone.stringinterp</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.theme/trunk</remote>
        <local>plone.theme</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.blob/trunk</remote>
        <local>plone.app.blob</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.content/trunk</remote>
        <local>plone.app.content</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.contentmenu/trunk</remote>
        <local>plone.app.contentmenu</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.contentrules/trunk</remote>
        <local>plone.app.contentrules</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.controlpanel/trunk</remote>
        <local>plone.app.controlpanel</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.customerize/trunk</remote>
        <local>plone.app.customerize</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.folder/trunk</remote>
        <local>plone.app.folder</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.form/trunk</remote>
        <local>plone.app.form</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.i18n/trunk</remote>
        <local>plone.app.i18n</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.imaging/trunk</remote>
        <local>plone.app.imaging</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.iterate/trunk</remote>
        <local>plone.app.iterate</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.jquerytools/trunk</remote>
        <local>plone.app.jquerytools</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.kss/trunk</remote>
        <local>plone.app.kss</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.layout/trunk</remote>
        <local>plone.app.layout</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.linkintegrity/trunk</remote>
        <local>plone.app.linkintegrity</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.locales/trunk</remote>
        <local>plone.app.locales</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.openid/trunk</remote>
        <local>plone.app.openid</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.portlets/trunk</remote>
        <local>plone.app.portlets</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.redirector/trunk</remote>
        <local>plone.app.redirector</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.upgrade/trunk</remote>
        <local>plone.app.upgrade</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.users/trunk</remote>
        <local>plone.app.users</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.viewletmanager/trunk</remote>
        <local>plone.app.viewletmanager</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.vocabularies/trunk</remote>
        <local>plone.app.vocabularies</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.app.workflow/trunk</remote>
        <local>plone.app.workflow</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.portlet.collection/trunk</remote>
        <local>plone.portlet.collection</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plone.portlet.static/trunk</remote>
        <local>plone.portlet.static</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/buildout/plone.recipe.alltests/trunk</remote>
        <local>plone.recipe.alltests</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/buildout/plone.recipe.zope2instance/trunk</remote>
        <local>plone.recipe.zope2instance</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/buildout/plone.recipe.zeoserver/trunk</remote>
        <local>plone.recipe.zeoserver</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/txtfilter/trunk</remote>
        <local>txtfilter</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/wicked/trunk</remote>
        <local>wicked</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/z3c.autoinclude/trunk</remote>
        <local>z3c.autoinclude</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/archetypes/Products.Archetypes/trunk</remote>
        <local>Products.Archetypes</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/Products.ATContentTypes/trunk</remote>
        <local>Products.ATContentTypes</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/archetypes/MoreFieldsAndWidgets/ATReferenceBrowserWidget/trunk</remote>
        <local>Products.ATReferenceBrowserWidget</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/Products.CMFActionIcons/branches/2.1</remote>
        <local>Products.CMFActionIcons</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/Products.CMFCalendar/branches/2.2</remote>
        <local>Products.CMFCalendar</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/Products.CMFCore/branches/2.2</remote>
        <local>Products.CMFCore</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/Products.CMFDefault/branches/2.2</remote>
        <local>Products.CMFDefault</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/Products.CMFDiffTool/trunk</remote>
        <local>Products.CMFDiffTool</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/CMFDynamicViewFTI/trunk</remote>
        <local>Products.CMFDynamicViewFTI</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/Products.CMFEditions/trunk</remote>
        <local>Products.CMFEditions</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/CMFFormController/trunk</remote>
        <local>Products.CMFFormController</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/Products.CMFPlacefulWorkflow/trunk</remote>
        <local>Products.CMFPlacefulWorkflow</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/CMFQuickInstallerTool/trunk</remote>
        <local>Products.CMFQuickInstallerTool</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/Products.CMFTestCase/trunk</remote>
        <local>Products.CMFTestCase</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/Products.CMFTopic/branches/2.2</remote>
        <local>Products.CMFTopic</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/Products.CMFUid/branches/2.2</remote>
        <local>Products.CMFUid</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/Products.contentmigration/trunk</remote>
        <local>Products.contentmigration</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/Products.DCWorkflow/trunk</remote>
        <local>Products.DCWorkflow</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/Products.ExtendedPathIndex/trunk</remote>
        <local>Products.ExtendedPathIndex</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/Products.ExternalEditor/trunk</remote>
        <local>Products.ExternalEditor</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/Products.GenericSetup/trunk</remote>
        <local>Products.GenericSetup</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/Products.GroupUserFolder/trunk</remote>
        <local>Products.GroupUserFolder</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/Products.i18ntestcase/trunk</remote>
        <local>Products.i18ntestcase</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/Products.LinguaPlone/trunk</remote>
        <local>Products.LinguaPlone</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/archetypes/Products.Marshall/trunk</remote>
        <local>Products.Marshall</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/archetypes/Products.MimetypesRegistry/trunk</remote>
        <local>Products.MimetypesRegistry</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/Products.PasswordResetTool/trunk</remote>
        <local>Products.PasswordResetTool</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/PlacelessTranslationService/trunk</remote>
        <local>Products.PlacelessTranslationService</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/PloneLanguageTool/trunk</remote>
        <local>Products.PloneLanguageTool</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/Products.PlonePAS/trunk</remote>
        <local>Products.PlonePAS</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/Products.PloneTestCase/trunk</remote>
        <local>Products.PloneTestCase</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/Products.PluggableAuthService/trunk</remote>
        <local>Products.PluggableAuthService</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/Products.PluginRegistry/trunk</remote>
        <local>Products.PluginRegistry</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/archetypes/Products.PortalTransforms/trunk</remote>
        <local>Products.PortalTransforms</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/ResourceRegistries/trunk</remote>
        <local>Products.ResourceRegistries</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/SecureMailHost/branches/1.1</remote>
        <local>Products.SecureMailHost</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/statusmessages/trunk</remote>
        <local>Products.statusmessages</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/collective/Products.TinyMCE/trunk</remote>
        <local>Products.TinyMCE</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/archetypes/Products.validation/trunk</remote>
        <local>Products.validation</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.zope.org/repos/main/Products.ZopeVersionControl/trunk</remote>
        <local>Products.ZopeVersionControl</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plonetheme.sunburst/trunk</remote>
        <local>plonetheme.sunburst</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.plone.org/svn/plone/plonetheme.classic/trunk</remote>
        <local>plonetheme.classic</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <browser class="hudson.plugins.trac.TracRepositoryBrowser"/>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <scmCheckoutRetryCount>2</scmCheckoutRetryCount>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/30 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd $WORKSPACE/build
date &gt; buildtag</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
export HOME=/home/hudson
cd $WORKSPACE/build
python2.6 bootstrap.py -d
bin/develop purge
bin/buildout -c hudson.cfg
echo &quot;Environment built&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>build/buildtag</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.test.AggregatedTestResultPublisher/>
    <hudson.tasks.BuildTrigger>
      <childProjects>Plone4 – Tests, Plone4 – pylint, Plone4 – zptlint</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.tasks.Fingerprinter>
      <targets></targets>
      <recordBuildArtifacts>true</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
    <hudson.plugins.chucknorris.CordellWalkerRecorder>
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
    <hudson.tasks.Mailer>
      <recipients>ericsteele@psu.edu</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.cigame.GamePublisher/>
  </publishers>
  <buildWrappers/>
</project>