# Buildout recipe to install mod_transform. It must be run with root privileges

[buildout]
parts = apache_modules autogen mod_depends mod_transform

[config]
apxs = /usr/bin/apxs2
libxml2 = /usr/bin
libxslt = /usr/bin

[config-macosx]
# under OSX you need to sudo ln -s /usr/bin/glibtoolize /usr/local/bin/libtoolize
# and install p5-libapreq2. But still it does not work.
apxs = /opt/local/apache2/bin/apxs
libxml2 = /opt/local/bin
libxslt = /opt/local/bin

[apache_modules]
recipe = infrae.subversion
urls =
    http://svn.outoforder.cc/svn/mod_depends/trunk@7 mod_depends
    http://svn.outoforder.cc/svn/mod_transform/trunk@92 mod_transform

[autogen]
recipe = iw.recipe.cmd
on_install = true
cmds =
    cd ${buildout:directory}/parts/apache_modules/mod_depends && patch -p0 < ${buildout:directory}/patches/mod_depends.patch && ./autogen.sh
    cd ${buildout:directory}/parts/apache_modules/mod_transform && patch -p0 < ${buildout:directory}/patches/mod_transform.patch && ./autogen.sh

[mod_depends]
recipe = hexagonit.recipe.cmmi
path = ${buildout:directory}/parts/apache_modules/mod_depends
configure-options =
    --with-apxs=${config:apxs}

[mod_transform]
recipe = hexagonit.recipe.cmmi
path = ${buildout:directory}/parts/apache_modules/mod_transform
configure-options =
    --with-apxs=${config:apxs}
    --with-xml2-prefix=${config:libxml2}
    --with-xslt-prefix=${config:libxslt}
