/* @group Temporary workarounds for stupid HTML in current Plone */

#sub-nav li.navTreeItem div { /* Why is there a stray div in the navtree list item? */
	display: inline !important;
}

/* @end */

/* @group Neutralize! */

/* Remove implicit browser styles to have a neutral starting point:
   - No elements should have implicit margin/padding
   - No underline by default on links (we add it explicitly in the body text)
   - When we want markers on lists, we will be explicit about it, and they render inline by default
   - Browsers are inconsistent about hX/pre/code, reset
   - Linked images should not have borders
   */

a {
	outline: none;
}
* { margin: 0; padding: 0; }
* :link,:visited { text-decoration:none }
* ul,ol { list-style:none; }
* li { display: inline; }
* h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
* a img,:link img,:visited img { border:none } 

/* @end */

/* @group Wrappers */

body { 
	font-family: Arial;
	padding-top: 11px;
	background-color: #329fd7;
}

a:link, a:visited {
	color: #329fd7;	
}

a:hover {
	color: #75ad0a;
}

#outer-wrapper {
	background: left 0px url("images/nav-gradient.png") repeat-x;
	background-color: white;
}
#inner-wrapper {
	border-top: 2px solid white;
	background: url(images/footer-gradient.png) repeat-x;
	background-position: bottom left;
	padding-bottom: 2em;
	clear:both;
}

#content-wrapper {
	width: 937px;
	margin: 0 auto;
}

/* @end */

/* @group Navigation/search */

#nav {
/* Should be named header, but conflicts with the accordion.js for now */
	width: 937px;
	margin: 0 auto;
	font-family: "Helvetica Neue", Arial;
}

#main-nav {
	font-size: 14px;
	line-height: 28px;
}

#sub-nav {
	font-size: 13px;
	line-height: 30px;
	border-top: 1px solid #dcdcdc;
	margin-right: 210px;
}

#sub-nav li a {
	border-right: none;
}

ul.navigation li a,
ul.navigation li a:visited {
	padding: 6px 8px;
	color: Black;
	font-weight: bold;
	border-right: 1px solid #dcdcdc;
	border-left: 1px solid white;
}

ul.navigation li a:hover {
	color: #75ad0a;
}

ul.navigation li a.selected,
ul.navigation li a.active {
	color: #75ad0a;
	padding: 6px 9px 5px 9px;
	border-bottom: 2px solid white;
	border-left: 1px solid white;
}


#search {
	float: right;
	position: relative;
	background: url(images/search-wrapper.png) no-repeat;
	height: 20px;
	padding: 10px 25px;
	margin-top: -2px;
}

#search input {
	color: #666;
}

#user {
	font-size: 14px;
	width: 145px;
	height: 14px;
	overflow: hidden;
	float: right;
	padding: 5px 4px;
}

#user a {
	color: #666;
	font-weight: bold;
	padding: 2px;
}

#user a:hover {
	background-color: #666;
	color: White;
}

/* @end */

#logo-wrapper {
	width: 937px;
	margin: 0 auto;
}

#logo {
	margin: 25px 22px;
}


/* @group Splash pages */

div.splash {
	float: left;
	font-family: "Helvetica Neue", Arial, sans-serif;
	background-color: #205c90;
	width: 676px;
	margin-top: 8px;
	margin-bottom: 24px;
	color: White;
	clear: right;
	min-height: 196px;

	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;

}

div.splash h1 {
	padding: 1em 0.5em 0 260px !important;
	font-weight: bold;
	font-size: 26px;
	line-height: 32px;
	letter-spacing: -1px;

}

div.splash h2 {
	padding: 0 0 0 387px;
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: -1px;
}

div.splash p {
	padding: 20px 0 0 260px;
	font-size: 12px;
	font-weight: bold;
}

div.splash a {
	color: White;
	float: right;
	line-height: 16px;
	margin-right: 32px;
	padding-right: 16px;
	background: right top url(images/arrow-white.png) no-repeat;
	display: block;
}

div.pullout {
	float: left;
	background-color: #eee;
	width: 220px;
	min-height: 172px;
	padding: 25px 15px 0 25px;
	margin-top: 8px;
	margin-bottom: 24px;

	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}

div.pullout h2 {
	font-size: 24px;
	margin-bottom: 0.5em;
}

div.pullout p,
div.pullout ul,
div.pullout ol {
	font-size: 12px;
	margin-bottom: 1em;
}

div.pullout li {
	display: block;
}

div.pullout li a:before {
	content: "→ ";
}

div.sidebar {
	width: 245px;
	float: right;
	margin-top: 10px;
/*    margin-left: 16px;*/ /* IE6 as usually doesn't like margins and calculates them in a weird way */
}


div.sidebar ul li a {
	line-height: 36px;
	font-size: 18px;
	display: block;
	border-top: 1px solid #eee;
	font-weight: bold;
	background: left 9px url(images/arrow-blue.png) no-repeat;
	padding-left: 16px;
	letter-spacing: -1px;
}

div.sidebar ol li {
	line-height: 18px;
	font-size: 11px;
	display: block;
	border-top: 1px solid #eee;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
	clear: both;
}

div.sidebar ol li a {
	font-weight: bold;
	display: block;
}

img.book-cover {
	float: left;
	display: block;
	padding: 2px;
	border: 1px solid #ddd;
	margin: 5px 15px 10px 0;
}

/* @group Page-specific splash styles */

#splash-frontpage {
	min-height: 284px !important;
/*	background: #205c90 url(images/splash-bg.jpg) no-repeat;*/
	margin-top: 0;
	margin-bottom: 13px;
	width: 676px;
}

#splash-frontpage h1 {
	padding: 20px 18px !important;
}

#splash-frontpage p {
	padding: 20px 0 0 387px;
}

div.splash-enterprise {
	background: #205c90 url(images/splash-enterprise.jpg) no-repeat;
}

/* @end */



/* @end */

/* @group Listings */

/* @group Documentation pane */

div.pane {
	background-color: #eee;
	width: 656px;
	padding: 10px;
	clear: left;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}

div.pane h1 {
	padding-bottom: 0.5em;
	padding-left: 10px;
}

a.versions {
	font-size: 12px;
	color: #555;
	padding: 2px;
}

a.versions:hover {
	background-color: #666;
	color: White;
}

div.pagesearch {
	float: right;
	font-size: 11px;
	padding-right: 10px;
}

div.pagesearch input {
	color: #666;
}

#categories {
	background-color: white;
	padding: 10px;
	/*margin-top: 8px; compensate for corners*/ 
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}

#categories h3 {
	border-top: 1px solid #ccc;
	font-size: 14px;
}

#categories h3 a {
	display: block;
	padding: 0.5em 0 0.5em 0;
}

#categories h3.selected a {
	/*padding-left: 1.25em;*/
	color: black;
	cursor: default;
}

#categories h3 a:before {
	content: "▶ ";
}

#categories h3.selected a:before {
	content: "▼ ";
	/*content: "";*/
}


#categories p {
	font-size: 11px;	
}

ul.topic {
	font-size: 12px;
}

ul.topic li {
	display: inline-block !important;	
	vertical-align: top;
	width: 29.5%;
	margin: 0 0 1em 1.5em;
	text-align: justify;
}



/* @end */

/* @group Downloads pane */

#plone-box {
	background-image:url(images/plone-box.png);
	background-repeat:no-repeat;
	height:150px;
	width:115px;
	float:left;
	margin: 62px 10px 0px 90px;
}

#download-plone {
	background-image:url(images/download-plone.png);
	background-repeat:no-repeat;
	height:58px;
	width:300px;
	margin:10px 0px 10px 260px;
}	

div.downloadssearch {
	float: right;
	font-size: 11px;
	padding-right: 10px;
}

div.downloadssearch input {
	color: #666;
}

.rss-icon {
	float:right;
	padding:10px;
	display:block;
	margin-top:-40px;
}

.next-previous {
	float:right;
	width:25%;
	margin-top:-15px;
	display:block;
	font-size:.8em;
}

.next-previous .next-previous-item a {
	color:#ccc;
}

#download-footer-links {
	font-size:.8em;
	color:#999;
	width:100%;
	display: block;
	padding:5px 0px;
	margin-top:20px;
}

#sort-by {
	margin-left:10px;
	font-size:.7em;
	line-height: 2em;
}

.sort {
	margin:0px 10px 0px 0px;
	color:#999
	font-weight:bold;
}

#sort-by a.plain {
	margin-right:10px;
	color:#000;
}

#sortby a.selected {
	font-size:.9em;
}


#numreleases {
	font-size:.8em;
	border-bottom:1px solid #ccc;
	width:100%;
	display: block;
	padding:5px 0px;
}

ul.downloads li {
	border-bottom:1px solid #ccc;
}

#product-details {
	display:block;
	font-size:.8em;
	color:#999;
}

#product-details p {
	display:block;
	font-size:1em;
	color:#000;
}

.product-leadin {
	display:block;
	padding:0px 0px 10px 0px;
}

.product-date {
	font-size:.9em;
}

.product-description {
	font-size:.8em;
}

.company-logo {
	float:right;
	padding:10px;
}

.new-in-this-release {
	color:#000;
	display:block;
	font-weight:bold;
	margin-top:10px;
}

.new-details {
	display:block;
	border-bottom:1px solid #ccc;
	padding:5px 0px;
}

.advice {
	display:block;
	font-size:.7em;
	font-weight:bold;
	margin:10px 0px;
	width:90%;
}

.downloads h3 {
	margin-top:10px;
}

h2.add-on-categories-hdr {
	font-size:1.2em;
}

div.sidebar ol#add-on-categories {
	padding:10px 0px;
}

div.sidebar ol#add-on-categories li {
	border-bottom:none;
	border-top:none;
	font-weight:bold;
	line-height:6px;
	font-size:.8em;
}

.list-your-addon {
	height:19px;
	width:209px;
}

.down-arrow {
	display:block;
	padding:5px 0px 0px 5px;
	border-bottom:1px solid #ccc;
}

/* @end */


#current {
	background: 150px 130px url(images/cogs.png) no-repeat;	
	clear: left;
	}

div.box {
	width: 200px;
	height: 35em;
	float: left;
	border: 1px solid #e1e1e1;
	padding: 9px 12px;
	margin-left: -1px;
	font-size: 12px;
	overflow: hidden;
}

div.box h1 {
	font-family: "Helvetica Neue", Arial;
	margin: -9px -12px;
	padding: 0 12px;
	line-height: 2em;
	background: #eee url(images/box-gradient.png) repeat-x;
	font-size: 14px;
	vertical-align: 1em;
}

div.box p {
	margin: 0 -12px;
	padding: 10px 12px;
}

div.box li {	
	display: block;
	margin: 0 -12px;
	padding: 20px 12px;
	height: 54px;
}


div.box li.even {
	background-color: #eef3f6;
}

div.box a {
	display: block;
	padding: 20px 12px 10px 12px;
	margin: -20px -12px;
}

div.box .date {
	color: black;
	display: block;
	text-align: right;
	margin-top: 10px;
	height: 28px;
}

/* @end */

/* @group Accordion menu */

#accordion {
	width: 245px;
	border: 1px solid #eee;
	float: right;
	background-color: #f6f6f6;
	height: 27.4em;
}
#accordion h2 {
	font-family: "Helvetica Neue", Arial;
	background: #75ad0a url(images/accordion-gradient.png) repeat-x;
	line-height: 2em;
	padding: 0 6px;
	margin: -1px -1px 0 -1px;
	color: White;
	cursor: pointer;
	font-weight: bold;
}

#accordion h2.selected {
	cursor: inherit;
	/*padding-left: 1.6em;*/
}

#accordion h2.selected:before {
	content: "▼ ";
	/*content: " ";*/
}

#accordion h2:before {
	content: "▶ ";
}


#accordion div {
	margin: 10px;
	font-size: 12px;
}

#accordion div li {	
	display: block;
	margin-top: 0.25em;
}

#accordion li a:before {
	content: "→ ";
}


#accordion dl {
	margin-top: 0;
	margin-bottom: 1em;
	line-height: 1.5em;
}

#accordion dt {
	font-weight: bold;
}
#accordion dd {
	margin-left: 1em;
}

#plone-boxed {
	display: block;
	margin: 0 auto;
}

#download-link {
	display: block;
	width: 163px;
	height: 43px;
	background: url(images/download-box.png) no-repeat;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 14px;
	margin: 0 30px;
}

/* @end */

/* @group Footer */

#footer {
	color: White;
	font-size: 11px;
	font-weight: bold;
	background-color: #329fd7;
	width: 780px;
	margin: 1em auto 0 auto;
}

#footer-logo {
	float: left;
	margin: 0 10px 0 0;
}

#footer-logo img {
	border-right: 1px solid white;
}

#footer-text {
	padding: 5px 0 30px 0;	
}

/* @end */

/* @group Content Area */

#content {
	line-height: 1.5em;
}

#content h1,
#archetypes-fieldname-title input {
	font-family: "Helvetica Neue", Arial, sans-serif;
	color: black;
	clear: left;
	font-weight: bold;
	font-size: 26px;
	line-height: 32px;
	letter-spacing: -1px;
}


#content h1.documentFirstHeading {
	margin-top: 1em;
}

#content h2 {
	color: #444;
	padding: 0;
	letter-spacing: -1px;
	font: bold 22px/28px "Helvetica Neue", Arial, sans-serif;
}

#content h2 a,h2 a,#content h2 a:hover  {
	display: block;
	text-decoration: none;
	margin-bottom: 8px;
	border-style: none;
}

#content h3 a:hover {
	text-decoration: none;
}

#content p,
#content ul,
#content ol,
#content table,
#content dl {
	margin-top: 0;
	margin-bottom: 1em;
	line-height: 1.5em;
	color: black;
	font-size: 13px;
}



#content a {
	color: #205c90;
	border-bottom: 1px solid #ccc;
}

#content a:hover {
	color: #75ad0a;
}

#content a:visited {
	color: #427597;
}
#content a:visited:hover {
	color: Black;
}
#content a:target {
	background-color: #fd7 !important;
}

#content img {
	max-width: 100%;
}

#content ul {
	list-style-type: disc;
	margin-left: 2em;
}

#content ol {
	list-style-type: decimal;
	margin-left: 2em;
}

#content li {
	margin-bottom: 0.25em;
	line-height: 1.5em;
	display: list-item;
}

#content dl dt {
	font-weight: bold;
}

#content div.documentByLine {
	margin-bottom: 10px;
	font-size: 11px;
	display: block;
	margin-top: -0.5em;
	color: gray;
}

#content .discreet {
	color: #666;
	font-size: 11px;
}

#content .visualHighlight {
    background-color: #ffc;
}

#content .pullquote {
    padding: 0 1em 0 1em;
    margin: 0 0 1em 1em;
    font-weight: bold;
    float: right;
    width: 35%;
    clear: right;
    border-left: 1px solid #888;
	color: #888;
}
#content .callout {
	font-variant:  small-caps;
    color: #888;
    padding: 1em;
	border: 1px solid #888;
	border-style: solid none;
	clear:  both;
}


#content table {
	width: 100%;
	text-align: left;
}

#content p.documentDescription,
#description {
	color: gray;
	font: bold 1em "Helvetica Neue", Arial, sans-serif !important;
}

/* @end */

/* @group Edit bar */

#edit-bar { 
	width: 937px;
	margin: 1em auto 0.5em auto;
	background-color: #75ad0a;
	clear: both;
}

#edit-menu ul { 
	padding-left: 0.5em;
	border-top: 4px solid #87BA26;
	background: #75ad0a 0 -2px url(images/accordion-gradient.png) repeat-x;
}

#edit-menu li a { 
	color: White;
	font-weight: bold;
	padding: 0.5em;
	line-height: 2em;
}


#edit-menu li a:hover, 
#edit-menu li.selected a { 
	color: #75ad0a;
	background-color: White;
	border-top: 1px solid #75ad0a;
	line-height: 2em;
}

#edit-menu li:hover a, 
#edit-menu li.selected a { 
	color: #75ad0a;
}

#action-menu {
	float:right;
	clear: right;
}



/* @end */



/* @group Tables and listings */

table.listing {
	width: 100%;
}

table.listing td, 
table.listing th {
	padding: 0.5em;
}

table.listing td.listingCheckbox, 
table.listing th.listingCheckbox {
	text-align: center;
}

table.listing thead th {
	text-align: left;
	color: #666;
	border-bottom: 1px solid #e7e7e7;
	padding-left: 0;
}
table.listing tbody th {
	font-weight: bold;
}
table.listingtbody tr {
	text-align:left;
}
table.listing tbody tr.odd {
	background: #f9f9f9;
}
table.listing tbody tr td { 
	background: #FFF;
}
table.listing tbody tr.odd td { 
	background: #f9f9f9;
}
table.listing a { 
	border: none !important;
}
table.listing a:hover { 
	border-bottom: 1px solid black !important;
}

/* @end */

/* @group Status messages */

dl.portalMessage {
    font-size: &dtml-fontSmallSize;;
    background-color: #ffffe3; 
    border: 1px solid #996;    
}

dl.portalMessage a {
    color: black !important;
    border: none !important;
    text-decoration: underline;
}
dl.portalMessage dt {
    background-color: #996; 
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
}
dl.portalMessage dd {
    padding: 0.5em 0.5em; 
    margin: 0;
    line-height: 1.25em;
}
dl.warning {
    border-color: #d80;
}
dl.warning dt {
    background-color: #d80;
}
dl.error {
    border-color: #d00;    
}
dl.error dt {
    background-color: #d00; 
}
dl.warning {
    border-color: #d80;    
}
dl.warning dd {
    background-color: #fd7; 
}
dl.error {
    border-color: #d80;    
}
dl.error dd {
    background-color: #fd7; 
}



/* @end */

/* @group Editing */

/* @group Pulldown menus */

.contentActions {
    background-color: white;
    text-align: right;
    padding: 0 0 0 1em;
    z-index: 2;
    position:relative;
    height: 1.6em;
}
.contentActions ul,
.contentActions li {
    margin: 0;
    list-style: none;
    list-style-image: none;
    color: Black;
    text-align: left;
    line-height: 1.6em;
}
.contentActions li {
    float: right;
    z-index: 4;
    border-left: 1px solid #74ae0b;
}
.contentActions a {
    text-decoration: none;
    color: White;
    padding: 0 0.5em;
    cursor: pointer;
}
.contentActions span.subMenuTitle {
    padding: 0em 0.5em;
    position: relative;
    white-space: nowrap;
    display: inline;
}
.contentActions a span.subMenuTitle {
    padding: 0px;
    display: inline;
}
.actionMenu {
    /*  The spec says we can't put this on an element with a float (although
        Opera is the only one that cares) and we need it in order to catch
        the position:absolute bubbling up */

    position: relative;
    margin: 0;
    padding: 0;
	font-weight: bold;
}
.actionMenu .actionMenuHeader {
    margin: 0;
    padding: 0;
}
.actionMenu.activated .actionMenuHeader {
    position: relative;
    z-index: 10;
}
.actionMenu .actionMenuHeader a {
    display: block;
	color: White;
	padding: 0.5em 0.5em;
}
.arrowDownAlternative {
    font-size: 0.85em;
}
.actionMenu .actionMenuContent {
    display: none;
    z-index: 5;
    position: absolute;
    top: 1.5em;
    right: 0;
    height: auto;
    padding: 0;
    margin: 0;
}
.actionMenu.activated .actionMenuContent {
    display: block !important;
}
.actionMenu.activated .actionMenuContent {
    /* this one will be ignored by IE, it is here to fix the cut-off error in
       Firefox */
    display: table !important;
    border-collapse: collapse;
    border-spacing: 0;
}
.actionMenu.deactivated .actionMenuContent {
    display: none !important;
}
.actionMenu .actionMenuContent ul {
    display: block;
    background: #75ad0a;
	color: White;
    margin: 0.5em 0 0 0;
	border: 3px solid #74ae0b;
}
.actionMenu .actionMenuContent li {
    float: none;
    display: inline;
}
.actionMenu .actionMenuContent li a {
    display: block;
    white-space: nowrap;
	background-color: #74ae0b;
	color: White;
	padding: 0.5em;
}
.actionMenu .actionMenuContent .selected {
    display: block;
    white-space: nowrap;
    padding: 0 0.5em;
    margin: 0.2em 0;
}
.actionMenu .actionMenuContent li a:hover {
    background-color: White;
    color: #75ad0a;
}
.actionMenu .actionMenuContent .actionSeparator a {
    padding-top: 0.2em;
    border-top: 1px solid #74ae0b;
}
#templateMenu li a {
    padding-left: 16px;
}

dl.actionMenu {
	float:right;
}



/* @end */

/* @group Control panel */

ul.configlets {
    margin: 1em 0;
    list-style-image: none;
    list-style: none;
}

.configlet .contentViews {
    font-size: 90%;
}

ul.configlets li {
    margin-bottom: 1em;
}
ul.configlets li a {
    text-decoration: none;
    border: none;
}
ul.configlets li a:visited {
    color: #436976;
    background-color: transparent;
}
ul.configlets li a:active {
    color: #436976;
    background-color: transparent;
}
ul.configlets li label {
    font-weight: bold;
}
ul.configletDetails {
    margin: 0em 1em 1em 4em;
    list-style-image: none;
    list-style: none;
}
ul.configletDetails li {
    margin-bottom: 1em;
    display: inline;
}
ul.configletDetails li a {
	text-decoration: none;
}
ul.configletDetails li label {
    font-weight: bold;
}
ul.configletDetails li.configletDescription {
    display: block;
    color: #76797c;
    font-size: 90%;
    margin: 0;
}
.inlineDisplay {
display:inline
}
table.controlpanel-listing {
width:100%;
}
table.controlpanel-listing td, table.controlpanel-listing th {
font-size:120%;
}
table.controlpanel-listing dl {
margin-top:0;
}
table.controlpanel-listing dd {
margin-left: 1em;
}
table.controlpanel-listing dl dt a .trigger{
font-weight:normal;
}
table .controlpanel-listing td {
vertical-align:top;
}
table.controlpanel-listing td.checker{
text-align:center;
}
table.controlpanel-listing th.smallcolumn {
width:1.5em;
}
.chooser-right {
float:right;
margin-right:0 !important;
margin-bottom:0 !important;
}
.rule-element {
background-color:#EEF3F5;
margin:0.5em 0pt 0.5em;
padding:0.3em 1em 0.3em 1em;
width:auto;
}
.rule-element dl {
}
.rule-element dl dd {
margin-left:1em;
}
.rule-updown, .rule-operations {
float:right;
padding-top:0.8em;
}
/* @end */
/* Additional STX workaround classes */
.stx table p {
    margin: 0;
    padding: 0;
}
.stx table {
    border: 1px solid #8cacbb ! important;
}
.stx table td {
    border-bottom: 1px solid #8cacbb;
}

.reviewHistory,
.contentHistory {
    display: inline;
    font-size: 110% !important; 
    color: Black;
}

/* @group Comments */

.comment {
    background: #eef3f5; 
    border: 1px solid #8cacbb; 
    padding: 0.25em 1em 0.5em 1em;
    margin-bottom: 1em;
}
.comment h1,
.comment h2,
.comment h3,
.comment h4, 
.comment h5,
.comment h6 {
    border-bottom: 1px solid #76797c;
    font-weight: normal;
}
.comment h3 a {
    background-image: url(http://localhost:8080/demo/discussionitem_icon.png);
    background-repeat: no-repeat;
    padding-left: 18px;
    margin-left: -1px;
    margin-bottom: 1px;
    min-height: 1.6em;
    height: auto;
    line-height: 1.6em;	
}
.commentBody {
    margin: 0 1em 1em 1em;
}

/* @end */
.spacer {
    margin: 1em;
}

/* @group Collapsible */
dl.collapsible {
    border: 1px solid #8cacbb !important;
    margin: 1em 0 0 0;
    padding: 0;
}
dl.collapsible dt.collapsibleHeader {
    display: block;
    float: left;
    background: White;
    line-height: 1.2em;
    vertical-align: middle;
    font-size: 90%;
    position: relative;
    top: -0.6em;
    width: auto;
    margin: 0 0 -0.6em 1em;
    padding: 0 0.5em;
}
dl.collapsible dd.collapsibleContent {
    margin: 0;
    padding: 0 1em;
    clear: left;
}

/* for IE the following isn't needed, that's why the css2 selector is used */
dl.collapsible dd.collapsibleContent > dl {
    margin: 0;
    padding: 0;
}

dl.expandedInlineCollapsible dt.collapsibleHeader,
dl.expandedBlockCollapsible dt.collapsibleHeader {
    padding: 0 6px 0 22px;
    background: White url(treeExpanded.png) no-repeat 6px 50%;
    cursor: pointer;
}

dl.collapsedBlockCollapsible {
    border: none !important;
    height: 1em;
    width: auto;
}
dl.collapsedBlockCollapsible dt.collapsibleHeader {
    float: none;
    position: static;
    margin: 0;
    padding: 0 0 0 22px;
    line-height: 1em;
    cursor: pointer;
}
dl.collapsedInlineCollapsible dd.collapsibleContent,
dl.collapsedBlockCollapsible dd.collapsibleContent {
    display: none;
}
dl.collapsedInlineCollapsible {
    border: none !important;
    height: 1em;
    width: auto;
    display: inline;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader {
    position: static;
    float: none;
    margin: 0;
    padding: 0 0 0 22px;
    line-height: 1em;
    cursor: pointer;
    display: inline;
}

/* @end */

.label {
    font-weight: bold;
    display: inline;
    padding-right: 0.5em;
}
.optionsToggle {
    border: 1px solid #8cacbb;
    color: Black;
    background-color: #dee7ec;
    font-weight: normal !important;
    font-size: 90%;
} 

#portal-column-content fieldset > * input:focus,
#portal-column-content fieldset > * textarea:focus {
    border-color: #ffa500;
    border-width: 1px;
}

/* for highlighting of search terms */
.highlightedSearchTerm {
   background-color: #ffa;
}

dl.searchResults .highlightedSearchTerm {
    background-color: transparent;
    font-weight: bold;
}
/* for greying out inherited roles */
.noInheritedRoles {
    color: #a0a0a0;
}
/* for highlighting current items, like the language or today in the calendar */
.currentItem {
    border-collapse: collapse;
    border: 2px solid #ffa500;
    padding: 1px;
}
.managePortletsLink {
    display:  block;
    color: #76797c;
    font-size: 90%;
    font-weight: normal;
}


/* @end */

/* @group Tabbed form fieldsets */

ul.formTabs {
    position: relative;
    display: block;
    list-style-type: none;
    text-align: center;
	background-color: #329fd7;
	border-top: 3px solid #329fd7;
	margin-left: 0 !important;
}
li.formTab {
    display: inline !important;
    margin: 0;
    padding: 0;
}
li.formTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}
li.formTab a {
	background-color: #329fd7;
    color: White !important;
    padding: 0.125em 0.75em;
    text-decoration: none;
	border: none !important;
	font-weight: bold;
}
li.formTab a:visited {
}
li.firstFormTab a {
}
li.lastFormTab a {
}
li.formTab a.selected,
li.formTab a:hover {
    background: White;
    color: #329fd7 !important;
}
li.formTab a.notify {
    background-color: #ffce7b;
    color: Black;
}
li.formTab a.required span {
    background-image: url(http://localhost:8080/demo/required.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 8px;
}
li.formTab a.notify:hover {
    background-color: #ffa500;
}
.formPanel {
	margin-top: -1.5em;
    border: 1px solid #8cacbb;
    padding-top: 1em;
}
.formPanel.hidden {
    display: none;
}
div.formControls input.hidden {
    display: none;
}

/* @end */

/* @group Forms */
div.formControls {
	margin-top: 1em;
}
#content textarea {
font: 100% Monaco, "Courier New", Courier, monospace;
width: 100%;
}
#content select {
vertical-align: top;
}
#content fieldset {
border: 1px solid #329fd7;
border-style: solid none none none;
}
#content legend {
background: White;
padding: 0.5em;
font-size: 90%;
}
label {
font-weight: bold;
}
#content optgroup {
font-style: normal;
font-weight: bold;
color: #999;
padding-left: 0.25em;
}
#content option {
color: black;
}
#content optgroup > option {
padding: 0 0.25em 0 1em;
}
dl.enableFormTabbing dd {
margin-left: 0;
padding-top: 2em;
}
#login-form {
width: 30em;
margin: 0 auto;
}
#login-form .field {
clear: none;
}
#login-form input {
font-size: 150%;
}
#login-form input.context {
padding: 1px 10px 1px 20px;
background-position: 9px 5px;
margin-bottom: 1em;
}
#forgotten-password {
float: right;
width: 35%;
margin: 0 1em;
}
#content input.searchButton {
margin-bottom: 1px ! important;
color: Black;
font-size: 90%;
background: White url(http://localhost:8080/demo/search_icon.gif) 2px 1px no-repeat;
cursor: pointer;
padding: 1px 1px 1px 19px;
text-transform: none;
border: 1px solid #8cacbb;
}
.searchSection {
color: #76797c;
margin-top: 0.25em;
}
.searchSection label:hover {
color: Black;
}
.field {
clear: both;
margin-top: 1em;
}
.field input {
	width: 100%;
}
.fieldRequired {
background: url(http://localhost:8080/demo/required.gif) center left no-repeat;
padding: 0 0 0 8px;
color: White;
}
.fieldUploadFile {
text-align: right;
margin-right: 0.75em;
display: none;
}
.fieldTextFormat {
text-align: right;
margin-right: 0.75em
}
.formHelp {
font-size: 90%;
color: #76797c;
margin: 0 0 0.2em 0;
}
.formHelp:hover {
color: Black;
cursor: default;
}
div.error {
/* */
background-color: #fdc;
border: 1px solid #d00;
padding: 0.5em;
margin: 0 0 1em 0;
width: 95%;
}
.error .fieldRequired {
color: #d00;
}
input.inputLabelActive {
color: #76797c;
}
textarea#form\.description {
height: 6em;
width: 99%;
}
tr.selected {
background-color: #ffa;
}

/* @end */

/* @group Visual editor */

.kupu {
	background-color: White;
}

.kupu-save-message {
color: white;
font-weight: bold;
background-color: red;
padding: 0.3em;
position: fixed;
top: 0;
right: 0;
z-index: 999;
}

#toolbar {
    background-color: White;
    width: auto;
    border: none;
}
#toolbar button {
	border-color: White;
}
#kupu-editor-iframe-text {
	border: 1px solid Black;
}
#kupu-colorchooser {
	display: none;
}


/* @end */

/* @group Trac */

#prefs {
	float: right;	
	width: 14em;
	border: 1px solid #329fd7;
	padding: 1em;
}

#prefs fieldset label {
	display: block;
}


/* @end */
